html, body {
  --main-font: #191919;
  --secondary-font: #313131;
  --thirdary-font: #575757;
  --yolk: #ffcc33;
  --yolk-dark: #fc9700;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Roboto;
  background-color: #EEE;
  color: var(--main-font);
}

* { box-sizing: border-box; }

#root {
  min-height:100%;
  position:relative;
}

nav.nav {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: -1.5em;
  background-color: #FFF;
}

.nav a {
  display: inline-block;
  background-color: #FFF;
  padding: 1.7em 2em 1em;
}

.nav div.drop {
  display: inline-block;
}

.nav a:hover {
  background-color: var(--yolk);
}

.nav a {
  color: var(--main-font);
  text-decoration: none;
}

div.drop nav{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  z-index: 1;
}

div.drop a{
  display: block;
}

div.drop .drop-btn {

}

div.drop .drop-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

div.drop:hover .drop-content{
  display: block;
}

header .stripe {
  background-color: var(--yolk);
  height: 5em;
}

header .stripe .face {
  margin: 0 auto;
  display: block;
}

header .wave-container{
  overflow: hidden;
  position: relative;
  height: 1.5em;
}

header .wave-sprites{
  position: absolute;
  white-space: nowrap;
}

header .wave-sprites-rev {
  margin-left: -200px;
}

header .wave { 
  display: inline-block;
  overflow: hidden;
  left: 0; 
  height: 1em;
  fill: var(--yolk); 
  margin-bottom: -1px; 
  -webkit-animation: wave-animation 1.6s infinite linear; 
          animation: wave-animation 1.6s infinite linear; 
}

header .wave-rev { 
  display: inline-block;
  overflow: hidden;
  left: 0; 
  height: 1em;
  fill: var(--yolk-dark); 
  margin-bottom: -1px; 
  -webkit-animation: wave-rev-animation .8s infinite linear; 
          animation: wave-rev-animation .8s infinite linear; 
}

header .waves {
  float: left;
}

@-webkit-keyframes wave-animation { 
  100% { 
    -webkit-transform: translate(-50%, 0); 
            transform: translate(-50%, 0); 
  } 
} 
 
@keyframes wave-animation { 
  100% { 
    -webkit-transform: translate(-50%, 0); 
            transform: translate(-50%, 0); 
  } 
}

@-webkit-keyframes wave-rev-animation { 
  100% { 
    -webkit-transform: translate(50%, 0); 
            transform: translate(50%, 0); 
  } 
} 
 
@keyframes wave-rev-animation { 
  100% { 
    -webkit-transform: translate(50%, 0); 
            transform: translate(50%, 0); 
  } 
}

main {
  height: 100%;
  padding: 2em 4em;
  padding-bottom: 6em;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: 6em;
  background-color: #FFF;
  color: var(--yolk-dark);
  font-size: 0.75em;
  padding: 0.5em 2em;
}

.bold {
  font-weight: 700;
}

.code-snippet{
  color: var(--secondary-font);
  margin: 2em 0;
}

.code-snippet code {
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
}

.code-snippet p {
  margin: 1em 0;
}

.code-snippet .bold.sub{
  color: var(--thirdary-font);
}

.image{
  text-align: center;
}

.home p{
  line-height: 1em;
}

.home section {
  margin: 1.8em 0;
}
